<!DOCTYPE html>
<html>
<head>
    <title>Nuevo Dispositivo</title>
</head>
<body>
    <h1>Nuevo Dispositivo</h1>
    <form method="POST">
        <label>Marca: <input type="text" name="marca" required></label><br>
        <label>Color: <input type="text" name="color" required></label><br>
        <label>IMEI: <input type="text" name="imei" required></label><br>
        <label>Problema: <textarea name="problema" required></textarea></label><br>
        <label>Usuario Asociado: 
            <select name="usuario_idusuario" required>
                {% for usuario in usuarios %}
                    <option value="{{ usuario.idusuario }}">{{ usuario.nombre }}</option>
                {% endfor %}
            </select>
            <label>Dispositivo</label>
            
            <select name="dispositivo_iddispositivo" required>
                {% for d in dispositivos %}
                    <option value="{{ d.iddispositivo }}">{{ d.marca }} - {{ d.imei }}</option>
                {% endfor %}
            </select>

        </label><br>
        <button type="submit">Guardar</button>
    </form>
    <a href="{{ url_for('dispositivo.listar_dispositivos') }}">Cancelar</a>
</body>
</html>